
.Activity{
    width: 250px;
    height: 150px;
    position: relative;
    cursor: pointer;
    margin: 0 20px;

}

.Activity img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: 5;
}

.Activity h1{
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.BoxButton{
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    padding: 10px 10px;
    justify-content: center;
    align-items: center;
}
.BoxButton button{
    cursor: pointer;
    background-color: var(--fondoOscuro);
    border: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
 

.Link{
    text-decoration: none;
    color: #fff;
}